.DS_Store
*.obj
/.tsconfig.json
/.vscode/
/build.js
/lib/thinc.c
/node_modules/
/out/benchmark.html
/out/benchmark.thin
/out/common.js
/out/compiled.c
/out/compiled.h
/out/compiled.wasm
/out/index.html
/out/thinc
/out/thinc.exe
/sandbox/
/src/
